requests==2.34.2
ecmwf-opendata==0.3.34
certifi==2026.7.22
charset-normalizer==3.5.1
idna==3.20
multiurl==0.3.9
python-dateutil==2.9.0.post0
pytz==2026.3.post1
six==1.17.0
tqdm==4.70.1
urllib3==2.8.0
